<p>
    <strong>Picture Name:</strong>
    <%= picture.name %>
</p>

<p>
    <%= link_to 'Delete Picture', [picture.log, picture],
        method: :delete,
        data: {comfirm: 'Are you sure'} %>
</p>