<h1>Workout Logs</h1>
<%= link_to 'New Workout Log', new_log_path %>
<table>   
    <tr>     
        <th>Title</th>     
    </tr>
    
    <% @logs.each do |log| %>
        <tr>
            <td><%= log.title %></td>
            <td><%= link_to 'Show', log_path(log) %></td>
            <td><%= link_to 'Destroy', 
                        log_path(log), 
                        method: :delete, 
                        data: { confirm: 'Are you sure?' } %></td>

        </tr>
        
        <% end %>

</table>